In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv('city_temperature.csv', low_memory=False)
data

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,NaN,Algiers,1,1,1995,64.2
1,Africa,Algeria,NaN,Algiers,1,2,1995,49.4
2,Africa,Algeria,NaN,Algiers,1,3,1995,48.8
3,Africa,Algeria,NaN,Algiers,1,4,1995,46.4
4,Africa,Algeria,NaN,Algiers,1,5,1995,47.9
...,...,...,...,...,...,...,...,...
2906322,North America,US,Additional Territories,San Juan Puerto Rico,7,27,2013,82.4
2906323,North America,US,Additional Territories,San Juan Puerto Rico,7,28,2013,81.6
2906324,North America,US,Additional Territories,San Juan Puerto Rico,7,29,2013,84.2
2906325,North America,US,Additional Territories,San Juan Puerto Rico,7,30,2013,83.8
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6

In [12]:
Brasil = data[(data['Country'] == 'Brazil')]
SP = Brasil[(Brasil['City'] == 'Sao Paulo')]
SP

,Region,Country,State,City,Month,Day,Year,AvgTemperature
1301306,South/Central America & Carribean,Brazil,NaN,Sao Paulo,1,1,1995,71.8
1301307,South/Central America & Carribean,Brazil,NaN,Sao Paulo,1,2,1995,73.5
1301308,South/Central America & Carribean,Brazil,NaN,Sao Paulo,1,3,1995,72.7
1301309,South/Central America & Carribean,Brazil,NaN,Sao Paulo,1,4,1995,72.7
1301310,South/Central America & Carribean,Brazil,NaN,Sao Paulo,1,5,1995,75.3
...,...,...,...,...,...,...,...,...
1310567,South/Central America & Carribean,Brazil,NaN,Sao Paulo,5,9,2020,61.7
1310568,South/Central America & Carribean,Brazil,NaN,Sao Paulo,5,10,2020,63.7
1310569,South/Central America & Carribean,Brazil,NaN,Sao Paulo,5,11,2020,65.9
1310570,South/Central America & Carribean,Brazil,NaN,Sao Paulo,5,12,2020,66.8
1310571,South/Central America & Carribean,Brazil,NaN,Sao Paulo,5,13,2020,64.3